<!DOCTYPE html>
<html>
  <head>
    <title>World Recipes</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div class="main-nav">
      <ul class="navbar left">
        <li><a href="index.html">Home</a></li>
        <li><a href="beers.html">Beers</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="navbar right">
        <li><a href="signin.html">Login</a></li>
        <li><a href="signup.html">Sign Up</a></li>
      </ul>
    </div>
    <div class="main-body">
      <br><br><br><br>
      <div class="form_outline">
        <form class="search" action="">
          <div class="container">
            <form class="example" action="action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </form>
      </div>
    </div>
  <footer>
    Copyright ©2019
  </footer>
  </body>
</html>
