<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="main-nav">
      <ul class="navbar left">
        <li><a href="index.html">Home</a></li>
        <li><a href="beers.html">Beers</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="navbar right">
        <li><a href="signin.html">Login</a></li>
        <li><a href="signup.html">Sign Up</a></li>
      </ul>
    </div>
    <br><br><br><br>
    <div class="full-body">
      <div class="form_outline">
        <form action="">
          <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <label for="confirm-password"><b>Confirm Password</b></label>
            <input type="password" placeholder="Repeat Password" name="confirm-password" required>
            <hr>

            <button type="submit" class="registerbtn">Register</button>
          </div>

          <div class="container signin">
            <p>Already have an account? <a href="signin.html">Sign in</a>.</p>
          </div>
        </form>
      </div>
    </div>
    <footer>
      Copyright ©2019
    </footer>
  </body>
</html>
